<template name="navbar">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">rsmcho</a>
        {{#if currentUser}}
          <div class="navbar-header">
            <button class="btn btn-danger btn-logout">Logout</button>
          </div>
        {{else}}
          <div class="navbar-header">
            <a href="login">Login</a>
            <a href="register">Register</a>
          </div>
        {{/if}}
        </div>
      </div>
    </nav>
</template>
